// 로고크기
.hd{
    max-width : 1280px;
    margin: 0 auto;
    .logoh{
        width : 8vw;
        padding: 0.4rem 0;
        min-width: 44px;
        a{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            .logoment{
                width: 80%;
            }
            .logoname{
                width: 100%;
            }
    }
        }
        
}
// 폰트
.d1ul{
    li{

        a{
            font-size: 0.7rem;
        }
    }
}
@media(min-width: 450px){
    .d1ul{
        li{
    
            a{
                font-size: 0.85rem;
            }
        }
    }  
}
@media(min-width: 768px){
    .d1ul{
        li{
    
            a{
                font-size: 1rem;
            }
        }
    }  
}
@media(min-width: 1080px){
    .d1ul{
        li{
    
            a{
                font-size: 1.25rem;
            }
        }
    }  
}
@media(min-width: 1400px){
    .d1ul{
        li{
    
            a{
                font-size: 1.7rem;
            }
        }
    }  
}
// 버튼
.utilButton{
    font-size: 1rem;
}
@media(min-width: 768px){
    .utilButton{
        font-size: 1.3rem;
    }
}
@media(min-width: 1400px){
    .utilButton{
        font-size: 1.7rem;
    }
}
#utilMenu{
    position: absolute;
    bottom: -1050%;
    left: 95%;
    display: flex;
    flex-direction: column-reverse;
    button{
        border: none;
        font-family: "nuriGothicR";
    }
}
.snsdiv{
    font-size: 1rem;
    animation-duration: 1s;
    animation-name: snsslide;
}
@media(min-width: 768px){
    .snsdiv{
        font-size: 1.3rem;
    }
}
@media(min-width: 1400px){
    .snsdiv{
        font-size: 1.7rem;
    }
}
@keyframes snsslide{
    from{
        height: 0;
        overflow: hidden;
    }
    50%{
        overflow: hidden;
    }
    to{
        height: 5.1rem;
    }
}

// 밑줄
#navi{
    border-bottom: 2px solid #222;
    position: fixed;
    left: 0;
    top:0;
    right:0;
}
