:root { --logoment-margin-top: 1vw
; }

.hd { max-width: 1280px; margin: 0 auto; }

.hd .logoh a img { vertical-align: top; }

.hd .logoh a .logoment { width: 6.5vw; margin-top: calc(var(--logoment-margin-top)); display: block; margin-left: 1.2vw; }

.hd .logoh a .logoname { margin-top: calc(var(--logoment-margin-top) - 0.7vw); width: 8vw; display: block; }

@media (max-width: 1280px) { .logoh { margin-left: 3vw; } }

@media (max-width: 500px) { .logoment { min-width: 8vw; }
  .logoname { min-width: 10vw; } }

.d1ul li { margin-top: 1.5vw; }

.d1ul li a { font-size: 1.2vw; }

.utilButton { font-size: 0.8vw; }

#utilMenu { margin-top: 1.4vw; margin-left: 2vw; }

#utilMenu button { border: none; font-family: "nuriGothicR"; }

#navi { border-bottom: 2px solid #222; }
