:root { --logoment-margin-top: 1vw
; }

.hd { max-width: 1280px; margin: 0 auto; }

.hd .logoh { width: 100%; }

.hd .logoh a img { vertical-align: top; }

.hd .logoh a .logoment { width: 6.5vw; margin-top: calc(var(--logoment-margin-top)); display: block; margin-left: 1.2vw; }

.hd .logoh a .logoname { margin-top: calc(var(--logoment-margin-top) - 0.7vw); width: 8vw; display: block; }
